/* Start Box */
.d-none {
  display: none;
}
.d-flex {
  display: flex;
}
.f-dir-c {
  flex-direction: column;
}
.f-dir-r {
  flex-direction: row;
}
.align-center {
  align-items: center;
}
.justify-center {
  justify-content: center;
}
.space-between {
  justify-content: space-between;
}
.f-wrap {
  flex-wrap: wrap;
}
.d-grid {
  display: grid;
}
.gap-20 {
  gap: 20px;
}
.gap-100 {
  gap: 100px;
}
.d-block {
  display: block;
}
@media (max-width: 767px) {
  .block-mobile {
    display: block;
  }
  .hide-mobile {
    display: none;
  }
  .f-dir-mobile {
    flex-direction: column;
  }
}
/* End Box */
/* start width + height */
.w-full {
  width: 100%;
}
.w-fit {
  width: fit-content;
}
.h-full {
  height: 100%;
}
.w-100 {
  width: 100px;
}
.h-100 {
  height: 100px;
}
/* end width + height */
/* start font */
.txt-c {
  text-align: center;
}
.fs-11 {
  font-size: 11px;
}
.fs-12 {
  font-size: 12px;
}
.fs-13 {
  font-size: 13px;
}
.fs-14 {
  font-size: 14px;
}
.fs-15 {
  font-size: 15px;
}
.fs-16 {
  font-size: 16px;
}
.fs-18 {
  font-size: 18px;
}
.fs-17 {
  font-size: 17px;
}
.fs-20 {
  font-size: 20px;
}
.fs-25 {
  font-size: 25px;
}
.fs-30 {
  font-size: 30px;
}
.fs-35 {
  font-size: 35px;
}
.fs-40 {
  font-size: 40px;
}
.fs-45 {
  font-size: 45px;
}
.fs-55 {
  font-size: 55px;
}
.fw-bold {
  font-weight: bold;
}
.fw-normal {
  font-weight: normal;
}
@media (max-width: 767px) {
  .txt-c-mobile {
    text-align: center;
  }
}
/* end font */
/* start color */
.bg-white {
  background-color: white;
}

.bg-ccc {
  background-color: #ccc;
}
.bc-black {
  background-color: black;
}
.bg-blue {
  background-color: hsl(233, 26%, 24%);
}
.c-black {
  color: black;
}
.c-grey {
  color: var(--grey-color);
}
.c-white {
  color: white;
}
.c-Gray-600 {
  color: hsl(233, 8%, 62%);
}
.c-Gray-100 {
  color: hsl(220, 16%, 96%);
}
.c-blue {
  color: hsl(233, 26%, 24%);
}
/* end color */
/* start padding + margin */
.p-5 {
  padding: 5px;
}
.p-8 {
  padding: 5px;
}
.p-10 {
  padding: 10px;
}
.p-15 {
  padding: 15px;
}
.p-20 {
  padding: 20px;
}
.pt-10 {
  padding-top: 10px;
}
.pt-15 {
  padding-top: 15px;
}
.pt-20 {
  padding-top: 20px;
}
.pt-30 {
  padding-top: 30px;
}
.pb-10 {
  padding-bottom: 10px;
}
.pb-15 {
  padding-bottom: 15px;
}
.pb-20 {
  padding-bottom: 20px;
}
.pb-30 {
  padding-bottom: 30px;
}
.pl-10 {
  padding-left: 10px;
}
.pl-15 {
  padding-left: 15px;
}
.m-0 {
  margin: 0;
}
.m-0-auto {
  margin: 0 auto;
}
.m-15 {
  margin: 15px;
}
.m-20 {
  margin: 20px;
}
.mt-0 {
  margin-top: 0;
}
.mt-5 {
  margin-top: 5px;
}
.mt-15 {
  margin-top: 15px;
}
.mt-10 {
  margin-top: 10px;
}
.mt-20 {
  margin-top: 20px;
}
.mt-25 {
  margin-top: 25px;
}
.mt-30 {
  margin-top: 30px;
}
.mr-5 {
  margin-right: 5px;
}
.mr-5 {
  margin-right: 5px;
}
.mr-10 {
  margin-right: 10px;
}
.mr-15 {
  margin-right: 15px;
}
.mr-20 {
  margin-right: 20px;
}
.mb-0 {
  margin-bottom: 0px;
}
.mb-5 {
  margin-bottom: 5px;
}
.mb-10 {
  margin-bottom: 10px;
}
.mb-15 {
  margin-bottom: 15px;
}
.mb-20 {
  margin-bottom: 20px;
}
.mb-25 {
  margin-bottom: 25px;
}
.mb-30 {
  margin-bottom: 30px;
}
.mb-40 {
  margin-bottom: 40px;
}
.ml-5 {
  margin-left: 5px;
}
.ml-10 {
  margin-left: 10px;
}
.ml-15 {
  margin-left: 15px;
}
.ml-20 {
  margin-left: 20px;
}
@media (max-width: 767px) {
  .mr-0-mobile {
    margin-right: 0px;
  }
}
@media (max-width: 767px) {
  .m-0-auto-mobile {
    margin: 0 auto;
  }
}
/* end padding + margin*/
/* start border */
.b-none {
  border: none;
}
.rad-6 {
  border-radius: 6px;
}
.rad-10 {
  border-radius: 10px;
}
.rad-half {
  border-radius: 50%;
}
.b-ccc {
  border: 1px solid #ccc;
}
.bl-ccc {
  border-left: 1px solid #ccc;
}
.br-fff {
  border-right: 4px solid #fff;
}
.bb-eee {
  border-bottom: 1px solid #eee;
}
.border-eee {
  border: 1px solid #eee;
}
/* end border */
/* start position */
.p-relative {
  position: relative;
}
.p-absolute {
  position: absolute;
}
/* end position */
/* start media */
@media (max-width: 767px) {
  .hide-mobile {
    display: none;
  }
}
/* end media */
/* strat components */
.center-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
.between-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.btn-shape {
  position: relative;
  font-size: 13px;
  font-weight: 600;
  background-image: linear-gradient(
    10deg,
    var(--cyan-color),
    var(--green-color)
  );
  color: #fff;
  padding: 12px 30px;
  border-radius: 30px;
  cursor: pointer;
}
.btn-shape::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #fff;
  border-radius: 30px;
  opacity: 0;
}
.btn-shape:hover::before {
  opacity: 0.2;
}
/* end components */
